{% extends 'base.html' %}

{% block content %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
        
        <h1 class="text-white">About Developer</h1>
        <ol>
          <li><a href="{% url 'myHome' %}">Home</a></li>
          <li>About Developer</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->
    <br>
        <div class="container">

          <div class="row">
            <div class="d-flex justify-content-center">
              <img src="/static/assets/img/blog/blog-author.jpg" class="rounded-circle" style="height:250px; width:250px;" alt="">
            </div>
          </div>

          <div class="row">
            <div class="d-flex justify-content-center pt-3">
              <h4>Muhammad Saeed</h4>
            </div>
          </div>

          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="social-links">
                <a href="https://twitter.com/mr_saeed01"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100008111469325"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/saeed._.tech"><i class="biu bi-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col px-4" align="center">
              <p>
                Muhammad Saeed, is a multi-talented professional with an impressive skill set in full-stack web development, game development, graphic and logo design, and data analysis. With extensive experience in delivering innovative solutions, Muhammad Saeed is dedicated to helping clients achieve their goals with creative and effective solutions. Passionate about technology and design, Muhammad Saeed brings a wealth of knowledge and expertise to every project.
              </p>
            </div>
          </div>

        </div>

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h3>Testimonials</h3>
          <p>My quality work features a collection of positive testimonials from satisfied clients. They praise my attention to detail, creativity, professionalism, and expertise in web development, graphic design, data analysis, and game development.</p>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Sher Khan</h3>
                  <h4>Manager at 4You, UAE</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                      I’ve outsourced several projects to Mr Saeed and his know-how, flexibility, and enthusiasm are what keeps us hiring him for more work! I can honestly say that Mr Saeed is one of the best developer.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Malik Shoaib</h3>
                  <h4>Designer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                      If you have the opportunity to work with Mr Saeed, I say go for it! You are guaranteed an enjoyable and productive experience. Mr Saeed is skilled at what he does and we look forward to working with!
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Ali Tahir</h3>
                  <h4>Store Owner</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
										  Excellent all around! What stood out most was Saeed's excellent service. He made sure our order was placed in time, even though we were ordering on a holiday.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Sohail Wazir</h3>
                  <h4>Freelancer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                      Having worked with over 10 different freelance developers at my company over the years, I can honestly say that Mr Saeed is one of the best developers we’ve worked with.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  {% endblock %}