
{% extends 'base.html' %}

{% block content %}
  
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h1 class="text-white">Add Comment</h1>
        <ol>
          <li><a href="{% url 'myHome' %}">Home</a></li>
          <li>Post Comment</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <main id="main">
        <!-- ======= Blog Details Section ======= -->
            <div class="container bordered p-3 mt-2">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-warning text-white mt-1">Post Comment</button>
                    </div>
                </form>
            </div>   
    </main><!-- End #main -->

  </main><!-- End #main -->

  {% endblock %}
            
            