{% extends 'base.html' %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h1 class="text-white">Upload Job</h1>

        <ol>
          <li><a href="{% url 'myHome' %}">Home</a></li>
          <li>Upload Job</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <section id="contact" class="contact">
      <div class="container d-flex align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
          {% csrf_token %}
             <strong>{{ form.as_p }}<strong>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
          <button type="submit" class="btn btn-warning text-white">Upload</button>
        </form>
        <script>
          // Disable form submissions if there are invalid fields
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Get the forms we want to add validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
          </script>
      </div>
    </section><!-- End Contact Section -->
      

  </main><!-- End #main -->
  {% endblock %}
